<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>, <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>

<p><b>Dashboard</b></p>
<p>Find me in app/views/dashboards/index.html.erb</p>
