<div class="modal hide fade" id="link_underconstruction" name="link_underconstruction">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Unders Construction</h3>
	</div>
	<div class="modal-body">
		<p style="text-align: center;">Respected link is underconstruction</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<script>
	$(function() {
		$('#link_underconstruction').modal('show')
	});
</script>